@font-face {
  font-family: 'Co Headline Corp';
  src: url('../fonts/Co Headline Corp Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Co Headline Corp';
  src: url('../fonts/Co Headline Corp Bold.ttf') format('truetype');
  font-weight: 700;
}