html,
body {
  touch-action: none;
}

body {
  height: 100vh;
  max-height: 1080px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
}

h1,
h2 {
  margin: 0px;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
