/* ----- Colors ----- */
:root {
  --c1: #da2228;
  --c2: #cc252b;
  --c3: #e67226;
  --c4: #404040;
  --w: #ffffff;
}

.c1 {
  color: var(--c1);
}
.c2 {
  color: var(--c2);
}
.c3 {
  color: var(--c3);
}
.c4 {
  color: var(--c4);
}
.w {
  color: var(--w);
}

/* ----- Typograph ----- */
.t-xxl {
  font: 700 5.5rem/1.13 "Co Headline Corp", sans-serif;
}
.t-xl {
  font: 700 4.25rem/1.05 "Co Headline Corp", sans-serif;
}
.t-l {
  font: 700 4rem/1 "Co Headline Corp", sans-serif;
}
.t-m {
  font: 400 2.25rem/1.11 "Co Headline Corp", sans-serif;
}
.t-s {
  font: 400 1.75rem/1.14 "Co Headline Corp", sans-serif;
}
.t-xs {
  font: 400 1.25rem/1 "Co Headline Corp", sans-serif;
}