html {
  font-size: clamp(12.5px, 0.833vw, 16px);
}

body {
  background-image: url("/img/background_wave.svg"), url("/img/logo.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, 15rem;
  background-position:
    bottom,
    right 1rem bottom 3rem;
}

.advice {
  width: min(100%, 400px);
  margin: auto;
  padding: 1rem;
  background-color: var(--light);
  border: none;
  border-radius: 8px;
}

.advice::backdrop {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 50%);
}

.advice h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.advice p {
  margin-bottom: 2rem;
  text-align: center;
}

.advice button {
  display: block;
  margin-inline: auto;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  box-shadow: 0 0 8px rgb(0 0 0 / 10%);
}

.video {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
.video[data-show="true"] {
  opacity: 1;
  pointer-events: all;
}

.video-clipTitle {
  width: max-content;
  padding: 0.5rem 2rem;
  border-radius: 0 100px 100px 0;
  position: absolute;
  top: 2rem;
  left: 0;
  opacity: 0;
}
.video-clipTitle[data-show="true"] {
  opacity: 1;
}

.video-advice {
  text-align: center;
  max-width: 30%;
  border-radius: 8px;
  padding: 1rem;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}

.video-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 50%);
  pointer-events: none;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 300ms;
}
.video-loading[data-show="true"] {
  opacity: 1;
  pointer-events: all;
}

.video-loading::after {
  content: "";
  width: 6rem;
  height: 6rem;
  border: 8px solid rgb(0 0 0 / 30%);
  border-top-color: var(--light);
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}

.video button {
  aspect-ratio: 1/1;
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 2;
}

.video svg {
  width: 100%;
  aspect-ratio: 1/1;
}

.video video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.mainScreen {
  height: max(100%, 720px);
  display: grid;
  grid-template-rows: 3.5rem auto 5rem;
  align-items: center;
  gap: 5rem;
  margin-top: auto;
  padding-top: 3rem;
  position: relative;
}

.title {
  text-align: center;
}

.timestampSelection {
  width: min(100%, 1920px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-inline: auto;
  padding-inline: 4rem;
}

.timestampSelection-button {
  width: 30rem;
  padding: 2rem;
  border-radius: 2rem;
}

.timestampSelection-decorator {
  width: 0.25rem;
  align-self: stretch;
  border-radius: 4px;
}

.timestamps {
  padding-block: 1rem;
}

.timestamps h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.timestamps ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2.5rem;
}

.timestamps button {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
}

.timestamps div {
  width: 4.75rem;
  height: 4.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  grid-column: 1;
  border-radius: 50%;
}

.timestamps span {
  width: 100%;
  display: block;
  grid-row: 1;
  grid-column: 1;
  padding: 0.5rem 1rem 0.5rem 5.75rem;
  border-radius: 2rem;
  text-align: left;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation-duration: 500ms;
  animation-fill-mode: linear;
}

@keyframes rotate {
  to {
    rotate: 360deg;
  }
}
